@tailwind base;
@tailwind components;
@tailwind utilities;



button{
  position: relative;
  overflow: hidden;
  box-shadow: 0px 4px 8px 0px #00000008;
  background: linear-gradient(90deg, #B06642 0%, #F4B17E 100%);
  outline: none;
}

button::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.207), transparent);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}

button:hover::before {
  --size: 100px;
}
